@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Header
 */

header {
	background-color: #FFFFFF;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px 50%;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

#api_status {
  background-color: #cccccc;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
